{% extends "base.html" %}

{% block head_title %}{{ appName }}{% endblock %}

{% block html_head_extra -%}
  <meta property="og:title" content="{{ appName }}" />
  <meta name="twitter:title" content="{{ appName }}" />

  <meta name="description" content="Social media as it should be. Find your community among millions of users, unleash your creativity, and have some fun again." />
  <meta name="og:description" content="Social media as it should be. Find your community among millions of users, unleash your creativity, and have some fun again." />
  <meta name="twitter:description" content="Social media as it should be. Find your community among millions of users, unleash your creativity, and have some fun again." />

  {# northsky: canonical URLs point at the brand host #}
  <meta property="og:url" content="{{ baseUrl }}" />
  <meta name="twitter:url" content="{{ baseUrl }}" />
  <link rel="canonical" href="{{ baseUrl }}" />

  <meta property="og:image" content="https://bsky.app/static/social-card-default-gradient.png" />
  <meta property="twitter:image" content="https://bsky.app/static/social-card-default-gradient.png"  />

  <meta name="twitter:card" content="summary_large_image" />
{%- endblock %}

{% block noscript_extra %}
<p>This is the home page.
{% endblock %}
